*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family:  sans-serif;
}

html , body{
    width: 100%;
    height: 100%;
}

/* for all sec */
section{
    padding: 30px;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-family:sans-serif;
}

/* footer */
#footer{
    padding: 30px;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-family:sans-serif;
}

/* startup*/
#startup{
    background-color: #ACC8E5;
    color: #112A46;
}

/* the garden */
#garden{
    background-color:#7CCAD5;
    color: #0A85ED;
}

/* curious boy */
#main{
    background-color: #FA8072;
    color: #B7410E;
}

/* he saw */
#saw{
   background-color: #FDBCB4;
   color: #DE3163;
}

/* the secret */
#secret{
    background-color: #FF9966;
    color: #964B00;
}

/* footer */
#footer{
    background-color: #E97451;
    color: #F4C430;
}